@font-face{
  font-family: "Assistant";
  src: url('../fonts/Assistant/Assistant-Regular.ttf') format('ttf');
}

@font-face{
  font-family: "Assistant-Bold";
  src: url('../fonts/Assistant/Assistant-Bold.ttf') format('ttf');
}

@font-face{
  font-family: "Assistant-Light";
  src: url('../fonts/Assistant/Assistant-Light.ttf') format('ttf');
}

html {
  font-family: "Assistant", sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #1f3a80;
}